<footer class="site-footer clearfix">
  <div class="socialLinks">
    <ul>
      <li><a href="https://twitter.com/gstafford13" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com/gabrielastafford/" target="_blank">Insta</a></li>
      <li><a href="mailto:gabriela@gstafford.com">Mail</a></li> 
      <!-- CHANGE EMAIL FOR LIVE -->
    </ul>
  </div>

  <div class="credit">
    <p>&copy; 2015</p>
    <p>Designed &amp; developed by <a href="http://myabsley.com/" target="_blank">Meghan</a>.</p>
  </div>

</footer>
