body {
	header#header-home {
		background-image: url('../img/gabriela.jpg');
		background-size: cover;

		.container {
			.wrapper {
				h1 {
					font-size: $sizeXL;
					margin: $spaceXXL 0;

					.name {
						display: block;
						font-size: $sizeXXL*1.5;
					}
				}

				.actions {
					display: inline-block;
					margin-top: $spaceXXL;
					a {
						display: inline-block;
						width: 150px;
						text-transform: uppercase;
						text-align: center;
						font-weight: $weightSemibold;
						color: $ctaColor00;
						padding: $spaceXXS/2;
						margin: 0 $spaceXXL*2;
						border: 2px solid $borderColor01;

						&:hover {
							color: $ctaColor01;
							background-color: $ctaColor00;
						}
					}
				}
			}
		}
	}
	section.story {
		h2 {
			font-size: $sizeL;
			font-weight: $weightLight;
		}

		.content:not(.content-center) {
			width: 60%;
			float: left;
			padding: $spaceXL $spaceXXL*2;

			
			&.content-left {
				padding-left: 0;
			}

			&.content-right {
				padding-right: 0;
			}
		}

		.section-img {
			width: 40%;
			height: 300px;
			float: left;
			background-size: cover;

			&.part-1 {
				background-image: url('../img/gabriela.jpg');
			}

			&.part-2 {
				background-image: url('../img/gabriela.jpg');
				border-radius: 50%;
			}

			&.part-7 {
				background-image: url('../img/gabriela.jpg');
				border-radius: 50%;
			}
		}

		&.part-4 {
			padding: 0;
			.map {
				width: 100%;
				height: 400px;
			}
		}

		&.part-6 {
			padding: 0 0 $spaceXXL*2 0;
			.img-thirds {
				width: 33.3333%;
				height: 300px;
				float: left;
				background-size: cover;

				&.img-1 {
					background-image: url('../img/run.jpg');
				}

				&.img-2 {
					background-image: url('../img/snowman.jpg');
				}

				&.img-3 {
					background-image: url('../img/national-title.jpg');
				}
			}
		}
	}
}