<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include nav.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src='/bower_components/scrollReveal.js/dist/scrollReveal.min.js'></script>
    <script>

      var config = {
        easing: 'hustle',
        reset:  true,
        delay:  'onload',
        vFactor: 0.90
      }

      window.sr = new scrollReveal( config );

    </script>

  </body>

</html>
